In [1]:
import pandas as pd
import os

In [2]:
DATA_FOLDER = "..\\embeddings\\for significant features analysis"

In [3]:
# defining the mannwhitneyu test
from scipy.stats import mannwhitneyu

def mannwhitneyu_test(cg, sg, included_columns, excluded_columns):

    mannwhitneyu_test = pd.DataFrame()
    p_values = []
    feature_columns = []
    sg_mean_std = []
    cg_mean_std = []
    mean_std = []
    total_samples = pd.concat([cg, sg])

    for column in included_columns:
        if column not in excluded_columns:
            _, p = mannwhitneyu(sg[column], cg[column])
            p_values.append(p)
            feature_columns.append(column)
            sg_mean_std.append(str(round(sg[column].describe()['mean'], 3)) + '(' + str(round(sg[column].describe()['std'], 3)) + ')')
            cg_mean_std.append(str(round(cg[column].describe()['mean'], 3)) + '(' + str(round(cg[column].describe()['std'], 3)) + ')')
            mean_std.append(str(round(total_samples[column].describe()['mean'], 3)) + '(' + str(round(total_samples[column].describe()['std'], 3)) + ')')

    mannwhitneyu_test['features'] = feature_columns
    mannwhitneyu_test['sg_mean_std'] = sg_mean_std
    mannwhitneyu_test['cg_mean_std'] = cg_mean_std
    mannwhitneyu_test['mean_std'] = mean_std
    mannwhitneyu_test['p_values'] = p_values

    return mannwhitneyu_test

"""     significant_features = []
    cg_avgs = []
    sg_avgs = []
    differences = []
    for _, row in mannwhitneyu_test.iterrows():
        if row['p_values'] < 0.05:
            sig_feature = row['features']
            significant_features.append(sig_feature)
            cg_avgs.append(cg[sig_feature].mean())
            sg_avgs.append(sg[sig_feature].mean())
            differences.append(cg[sig_feature].mean() - sg[sig_feature].mean())
            print(row['features'] + ": " + str(row['p_values']))

"""

'     significant_features = []\n    cg_avgs = []\n    sg_avgs = []\n    differences = []\n    for _, row in mannwhitneyu_test.iterrows():\n        if row[\'p_values\'] < 0.05:\n            sig_feature = row[\'features\']\n            significant_features.append(sig_feature)\n            cg_avgs.append(cg[sig_feature].mean())\n            sg_avgs.append(sg[sig_feature].mean())\n            differences.append(cg[sig_feature].mean() - sg[sig_feature].mean())\n            print(row[\'features\'] + ": " + str(row[\'p_values\']))\n\n'

In [5]:
# Reading extracted eGeMAPs features for each gender, language, audio type

egf1 = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_egemapsv02_reading_features.pkl'))
egf5 = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_egemapsv02_counting_features.pkl'))
egf3 = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_egemapsv02_phonation_features.pkl'))
egm1 = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_egemapsv02_reading_features.pkl'))
egm5 = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_egemapsv02_counting_features.pkl'))
egm3 = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_egemapsv02_phonation_features.pkl'))
#EN
egf1_en = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_english_only_egemapsv02_reading_features.pkl'))
egf5_en = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_english_only_egemapsv02_counting_features.pkl'))
egf3_en = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_english_only_egemapsv02_phonation_features.pkl'))
egm1_en = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_english_only_egemapsv02_reading_features.pkl'))
egm5_en = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_english_only_egemapsv02_counting_features.pkl'))
egm3_en = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_english_only_egemapsv02_phonation_features.pkl'))
#FR
egf1_fr = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_french_only_egemapsv02_reading_features.pkl'))
egf5_fr = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_french_only_egemapsv02_counting_features.pkl'))
egf3_fr = pd.read_pickle(os.path.join(DATA_FOLDER, 'female_french_only_egemapsv02_phonation_features.pkl'))
egm1_fr = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_french_only_egemapsv02_reading_features.pkl'))
egm5_fr = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_french_only_egemapsv02_counting_features.pkl'))
egm3_fr = pd.read_pickle(os.path.join(DATA_FOLDER, 'male_french_only_egemapsv02_phonation_features.pkl'))

In [8]:
# examples of columns in the feature-set
for col in egf1.columns:
    print(col)

currently_smoking
mother-tongue
duration
F0semitoneFrom27.5Hz_sma3nz_amean
F0semitoneFrom27.5Hz_sma3nz_stddevNorm
F0semitoneFrom27.5Hz_sma3nz_percentile20.0
F0semitoneFrom27.5Hz_sma3nz_percentile50.0
F0semitoneFrom27.5Hz_sma3nz_percentile80.0
F0semitoneFrom27.5Hz_sma3nz_pctlrange0-2
F0semitoneFrom27.5Hz_sma3nz_meanRisingSlope
F0semitoneFrom27.5Hz_sma3nz_stddevRisingSlope
F0semitoneFrom27.5Hz_sma3nz_meanFallingSlope
F0semitoneFrom27.5Hz_sma3nz_stddevFallingSlope
loudness_sma3_amean
loudness_sma3_stddevNorm
loudness_sma3_percentile20.0
loudness_sma3_percentile50.0
loudness_sma3_percentile80.0
loudness_sma3_pctlrange0-2
loudness_sma3_meanRisingSlope
loudness_sma3_stddevRisingSlope
loudness_sma3_meanFallingSlope
loudness_sma3_stddevFallingSlope
spectralFlux_sma3_amean
spectralFlux_sma3_stddevNorm
mfcc1_sma3_amean
mfcc1_sma3_stddevNorm
mfcc2_sma3_amean
mfcc2_sma3_stddevNorm
mfcc3_sma3_amean
mfcc3_sma3_stddevNorm
mfcc4_sma3_amean
mfcc4_sma3_stddevNorm
jitterLocal_sma3nz_amean
jitterLocal_sma3nz_stddevNorm
shimmerLocaldB_sma3nz_amean
shimmerLocaldB_sma3nz_stddevNorm
HNRdBACF_sma3nz_amean
HNRdBACF_sma3nz_stddevNorm
logRelF0-H1-H2_sma3nz_amean
logRelF0-H1-H2_sma3nz_stddevNorm
logRelF0-H1-A3_sma3nz_amean
logRelF0-H1-A3_sma3nz_stddevNorm
F1frequency_sma3nz_amean
F1frequency_sma3nz_stddevNorm
F1bandwidth_sma3nz_amean
F1bandwidth_sma3nz_stddevNorm
F1amplitudeLogRelF0_sma3nz_amean
F1amplitudeLogRelF0_sma3nz_stddevNorm
F2frequency_sma3nz_amean
F2frequency_sma3nz_stddevNorm
F2bandwidth_sma3nz_amean
F2bandwidth_sma3nz_stddevNorm
F2amplitudeLogRelF0_sma3nz_amean
F2amplitudeLogRelF0_sma3nz_stddevNorm
F3frequency_sma3nz_amean
F3frequency_sma3nz_stddevNorm
F3bandwidth_sma3nz_amean
F3bandwidth_sma3nz_stddevNorm
F3amplitudeLogRelF0_sma3nz_amean
F3amplitudeLogRelF0_sma3nz_stddevNorm
alphaRatioV_sma3nz_amean
alphaRatioV_sma3nz_stddevNorm
hammarbergIndexV_sma3nz_amean
hammarbergIndexV_sma3nz_stddevNorm
slopeV0-500_sma3nz_amean
slopeV0-500_sma3nz_stddevNorm
slopeV500-1500_sma3nz_amean
slopeV500-1500_sma3nz_stddevNorm
spectralFluxV_sma3nz_amean
spectralFluxV_sma3nz_stddevNorm
mfcc1V_sma3nz_amean
mfcc1V_sma3nz_stddevNorm
mfcc2V_sma3nz_amean
mfcc2V_sma3nz_stddevNorm
mfcc3V_sma3nz_amean
mfcc3V_sma3nz_stddevNorm
mfcc4V_sma3nz_amean
mfcc4V_sma3nz_stddevNorm
alphaRatioUV_sma3nz_amean
hammarbergIndexUV_sma3nz_amean
slopeUV0-500_sma3nz_amean
slopeUV500-1500_sma3nz_amean
spectralFluxUV_sma3nz_amean
loudnessPeaksPerSec
VoicedSegmentsPerSec
MeanVoicedSegmentLengthSec
StddevVoicedSegmentLengthSec
MeanUnvoicedSegmentLength
StddevUnvoicedSegmentLength
equivalentSoundLevel_dBp

In [9]:
# only keeping necessary feature columns
excluded_columns = ['currently_smoking', 'mother-tongue']

In [10]:
# Running the Mannwhitneyu test on all the features comparing between current smokers and never-smokers

sigf1 = mannwhitneyu_test(egf1[egf1['currently_smoking'] == False], egf1[egf1['currently_smoking'] == True], egf1.columns, excluded_columns)
sigf3 = mannwhitneyu_test(egf3[egf3['currently_smoking'] == False], egf3[egf3['currently_smoking'] == True], egf3.columns, excluded_columns)
sigf5 = mannwhitneyu_test(egf5[egf5['currently_smoking'] == False], egf5[egf5['currently_smoking'] == True], egf5.columns, excluded_columns)
sigm1 = mannwhitneyu_test(egm1[egm1['currently_smoking'] == False], egm1[egm1['currently_smoking'] == True], egm1.columns, excluded_columns)
sigm3 = mannwhitneyu_test(egm3[egm3['currently_smoking'] == False], egm3[egm3['currently_smoking'] == True], egm3.columns, excluded_columns)
sigm5 = mannwhitneyu_test(egm5[egm5['currently_smoking'] == False], egm5[egm5['currently_smoking'] == True], egm5.columns, excluded_columns)
#EN
sigf1_en = mannwhitneyu_test(egf1_en[egf1_en['currently_smoking'] == False], egf1_en[egf1_en['currently_smoking'] == True], egf1_en.columns, excluded_columns)
sigf3_en = mannwhitneyu_test(egf3_en[egf3_en['currently_smoking'] == False], egf3_en[egf3_en['currently_smoking'] == True], egf3_en.columns, excluded_columns)
sigf5_en = mannwhitneyu_test(egf5_en[egf5_en['currently_smoking'] == False], egf5_en[egf5_en['currently_smoking'] == True], egf5_en.columns, excluded_columns)
sigm1_en = mannwhitneyu_test(egm1_en[egm1_en['currently_smoking'] == False], egm1_en[egm1_en['currently_smoking'] == True], egm1_en.columns, excluded_columns)
sigm3_en = mannwhitneyu_test(egm3_en[egm3_en['currently_smoking'] == False], egm3_en[egm3_en['currently_smoking'] == True], egm3_en.columns, excluded_columns)
sigm5_en = mannwhitneyu_test(egm5_en[egm5_en['currently_smoking'] == False], egm5_en[egm5_en['currently_smoking'] == True], egm5_en.columns, excluded_columns)
#FR
sigf1_fr = mannwhitneyu_test(egf1_fr[egf1_fr['currently_smoking'] == False], egf1_fr[egf1_fr['currently_smoking'] == True], egf1_fr.columns, excluded_columns)
sigf3_fr = mannwhitneyu_test(egf3_fr[egf3_fr['currently_smoking'] == False], egf3_fr[egf3_fr['currently_smoking'] == True], egf3_fr.columns, excluded_columns)
sigf5_fr = mannwhitneyu_test(egf5_fr[egf5_fr['currently_smoking'] == False], egf5_fr[egf5_fr['currently_smoking'] == True], egf5_fr.columns, excluded_columns)
sigm1_fr = mannwhitneyu_test(egm1_fr[egm1_fr['currently_smoking'] == False], egm1_fr[egm1_fr['currently_smoking'] == True], egm1_fr.columns, excluded_columns)
sigm3_fr = mannwhitneyu_test(egm3_fr[egm3_fr['currently_smoking'] == False], egm3_fr[egm3_fr['currently_smoking'] == True], egm3_fr.columns, excluded_columns)
sigm5_fr = mannwhitneyu_test(egm5_fr[egm5_fr['currently_smoking'] == False], egm5_fr[egm5_fr['currently_smoking'] == True], egm5_fr.columns, excluded_columns)

In [11]:
# examples of results from the Mannwhitneyu test for audio type 5, male participants
for p in sigm5.p_values:
    print(p)

0.09939659015616088
0.27080693569903147
0.031388404532183646
0.0026425591081091562
0.003345263869853032
0.4545964964813458
0.17106328639571589
0.45783969537825464
0.6159167762238619
0.45540608042493813
0.6992789401828048
0.17064428098301032
0.08624975880782064
0.0488303120197698
0.14045811675188083
0.43304653688849537
0.7674161621133994
0.17232492517580877
0.6368289208214786
0.9646948802957307
0.9145478984483891
0.21996635304944345
0.10473898111657977
0.14045811675188083
0.04683330861511232
0.3932509631875567
0.5690974267111919
0.23309876552482922
0.5028713912508749
0.5915995966592316
0.5162165209747736
0.7490443481707962
0.703256073943007
0.07641854914671732
0.3599626222136839
0.0035686274985794186
0.08923906691838368
0.4060106328466576
0.502443959519464
0.21446840233488318
0.2844589595392275
0.10260357998597852
0.7112346529231369
0.05122649079792816
0.20520658614953902
0.683946196424238
0.3829276212232785
0.4754925758313804
0.3631387742069665
0.5359102214437195
0.1444735026137962
0.5828258069780887
0.27139100111618797
0.4481490829093212
0.22097674997268302
0.6834537135473755
0.5310614891353997
0.6334819976889698
0.42327333265308087
0.05122649079792816
0.3457152075092378
0.07080450458120521
0.757702901263788
0.27432426669241006
0.5492463490293558
0.5591291172709674
0.7941830566251682
0.15724466546337268
0.2030562274785691
0.30453155810871646
0.5577763983112669
0.6159167762238619
0.1168862444921201
0.01389595936562472
0.04401374494164172
0.39735226145659774
0.18421588902370345
0.306430697351862
0.3083376684067215
0.9044465287528085
0.04087361744691068
0.10502634816820193
0.5348062477450339
0.9679026127023079
0.9909034776866911
0.46436488253729813
0.8086992249129098
0.794700299510042
0.2553622339776149

In [12]:
# Applying the HOLM correction on the resulting p_values

from statsmodels.stats.multitest import multipletests

dfs = [sigf1, sigf3, sigf5, sigf1_en, sigf3_en, sigf5_en, sigf1_fr, sigf3_fr, sigf5_fr, sigm1, sigm3, sigm5, sigm1_en, sigm3_en, sigm5_en, sigm1_fr, sigm3_fr, sigm5_fr]

# Combine p-values for correction
p_values = []
for df in dfs:
    p_values.extend(df['p_values'].values)

# Flatten the list of p-values
#flat_p_values = [p for sublist in p_values for p in sublist]

# Apply HOLM correction
alpha = 0.05
reject, corrected_p_values, _, _ = multipletests(p_values, alpha=alpha, method='Holm')

In [13]:
for _, row in pd.DataFrame(data = [p_values, corrected_p_values]).T.iterrows():
    print(row)

0    0.526198
1    1.000000
Name: 0, dtype: float64
0    3.105903e-12
1    4.925962e-09
Name: 1, dtype: float64
0    0.000005
1    0.008053
Name: 2, dtype: float64
0    7.376019e-17
1    1.180163e-13
Name: 3, dtype: float64
0    6.989670e-17
1    1.119046e-13
Name: 4, dtype: float64
0    4.565808e-14
1    7.282464e-11
Name: 5, dtype: float64
0    0.546054
1    1.000000
Name: 6, dtype: float64
0    0.029888
1    1.000000
Name: 7, dtype: float64
0    0.036024
1    1.000000
Name: 8, dtype: float64
0    0.062536
1    1.000000
Name: 9, dtype: float64
0    0.22873
1    1.00000
Name: 10, dtype: float64
0    0.364711
1    1.000000
Name: 11, dtype: float64
0    0.357299
1    1.000000
Name: 12, dtype: float64
0    0.692475
1    1.000000
Name: 13, dtype: float64
0    0.525838
1    1.000000
Name: 14, dtype: float64
0    0.416866
1    1.000000
Name: 15, dtype: float64
0    0.407567
1    1.000000
Name: 16, dtype: float64
0    0.366176
1    1.000000
Name: 17, dtype: float64
0    0.435509
1    1.000000
Name: 18, dtype: float64
0    0.508845
1    1.000000
Name: 19, dtype: float64
0    0.467062
1    1.000000
Name: 20, dtype: float64
0    0.410706
1    1.000000
Name: 21, dtype: float64
0    0.662334
1    1.000000
Name: 22, dtype: float64
0    0.415598
1    1.000000
Name: 23, dtype: float64
0    0.41228
1    1.00000
Name: 24, dtype: float64
0    0.453958
1    1.000000
Name: 25, dtype: float64
0    0.327375
1    1.000000
Name: 26, dtype: float64
0    0.269668
1    1.000000
Name: 27, dtype: float64
0    0.537447
1    1.000000
Name: 28, dtype: float64
0    0.240595
1    1.000000
Name: 29, dtype: float64
0    0.095348
1    1.000000
Name: 30, dtype: float64
0    0.001905
1    1.000000
Name: 31, dtype: float64
0    0.008498
1    1.000000
Name: 32, dtype: float64
0    0.004908
1    1.000000
Name: 33, dtype: float64
0    0.700858
1    1.000000
Name: 34, dtype: float64
0    1.191408e-11
1    1.887191e-08
Name: 35, dtype: float64
0    0.004621
1    1.000000
Name: 36, dtype: float64
0    0.000028
1    0.043156
Name: 37, dtype: float64
0    0.146603
1    1.000000
Name: 38, dtype: float64
0    0.697582
1    1.000000
Name: 39, dtype: float64
0    0.733287
1    1.000000
Name: 40, dtype: float64
0    7.868457e-08
1    1.232200e-04
Name: 41, dtype: float64
0    0.003254
1    1.000000
Name: 42, dtype: float64
0    0.739541
1    1.000000
Name: 43, dtype: float64
0    0.801463
1    1.000000
Name: 44, dtype: float64
0    0.356577
1    1.000000
Name: 45, dtype: float64
0    0.008911
1    1.000000
Name: 46, dtype: float64
0    7.953340e-08
1    1.244698e-04
Name: 47, dtype: float64
0    0.000519
1    0.789683
Name: 48, dtype: float64
0    0.626838
1    1.000000
Name: 49, dtype: float64
0    0.953591
1    1.000000
Name: 50, dtype: float64
0    0.956454
1    1.000000
Name: 51, dtype: float64
0    0.065554
1    1.000000
Name: 52, dtype: float64
0    1.645604e-07
1    2.570433e-04
Name: 53, dtype: float64
0    0.000550
1    0.836767
Name: 54, dtype: float64
0    0.102062
1    1.000000
Name: 55, dtype: float64
0    0.729336
1    1.000000
Name: 56, dtype: float64
0    0.999228
1    1.000000
Name: 57, dtype: float64
0    0.057314
1    1.000000
Name: 58, dtype: float64
0    0.002089
1    1.000000
Name: 59, dtype: float64
0    0.050409
1    1.000000
Name: 60, dtype: float64
0    0.005302
1    1.000000
Name: 61, dtype: float64
0    0.24416
1    1.00000
Name: 62, dtype: float64
0    0.563657
1    1.000000
Name: 63, dtype: float64
0    0.247874
1    1.000000
Name: 64, dtype: float64
0    0.325467
1    1.000000
Name: 65, dtype: float64
0    0.952049
1    1.000000
Name: 66, dtype: float64
0    0.528547
1    1.000000
Name: 67, dtype: float64
0    0.238827
1    1.000000
Name: 68, dtype: float64
0    0.404444
1    1.000000
Name: 69, dtype: float64
0    0.361647
1    1.000000
Name: 70, dtype: float64
0    0.549737
1    1.000000
Name: 71, dtype: float64
0    0.728713
1    1.000000
Name: 72, dtype: float64
0    0.039489
1    1.000000
Name: 73, dtype: float64
0    0.627524
1    1.000000
Name: 74, dtype: float64
0    0.277665
1    1.000000
Name: 75, dtype: float64
0    0.131546
1    1.000000
Name: 76, dtype: float64
0    0.603125
1    1.000000
Name: 77, dtype: float64
0    0.868574
1    1.000000
Name: 78, dtype: float64
0    0.802746
1    1.000000
Name: 79, dtype: float64
0    0.873581
1    1.000000
Name: 80, dtype: float64
0    0.84016
1    1.00000
Name: 81, dtype: float64
0    0.101831
1    1.000000
Name: 82, dtype: float64
0    0.876631
1    1.000000
Name: 83, dtype: float64
0    0.329496
1    1.000000
Name: 84, dtype: float64
0    0.311256
1    1.000000
Name: 85, dtype: float64
0    0.360775
1    1.000000
Name: 86, dtype: float64
0    0.191764
1    1.000000
Name: 87, dtype: float64
0    0.370296
1    1.000000
Name: 88, dtype: float64
0    0.00754
1    1.00000
Name: 89, dtype: float64
0    9.759669e-12
1    1.546908e-08
Name: 90, dtype: float64
0    0.367056
1    1.000000
Name: 91, dtype: float64
0    2.980235e-12
1    4.732614e-09
Name: 92, dtype: float64
0    1.778753e-12
1    2.829996e-09
Name: 93, dtype: float64
0    2.515608e-12
1    3.999816e-09
Name: 94, dtype: float64
0    0.235864
1    1.000000
Name: 95, dtype: float64
0    0.530901
1    1.000000
Name: 96, dtype: float64
0    0.558425
1    1.000000
Name: 97, dtype: float64
0    0.611825
1    1.000000
Name: 98, dtype: float64
0    0.212027
1    1.000000
Name: 99, dtype: float64
0    0.432747
1    1.000000
Name: 100, dtype: float64
0    0.305348
1    1.000000
Name: 101, dtype: float64
0    0.663036
1    1.000000
Name: 102, dtype: float64
0    0.864115
1    1.000000
Name: 103, dtype: float64
0    0.577744
1    1.000000
Name: 104, dtype: float64
0    0.758403
1    1.000000
Name: 105, dtype: float64
0    0.225963
1    1.000000
Name: 106, dtype: float64
0    0.209658
1    1.000000
Name: 107, dtype: float64
0    0.523855
1    1.000000
Name: 108, dtype: float64
0    0.099137
1    1.000000
Name: 109, dtype: float64
0    0.054442
1    1.000000
Name: 110, dtype: float64
0    0.595631
1    1.000000
Name: 111, dtype: float64
0    0.350552
1    1.000000
Name: 112, dtype: float64
0    0.219979
1    1.000000
Name: 113, dtype: float64
0    0.035176
1    1.000000
Name: 114, dtype: float64
0    0.308358
1    1.000000
Name: 115, dtype: float64
0    0.453791
1    1.000000
Name: 116, dtype: float64
0    0.190637
1    1.000000
Name: 117, dtype: float64
0    0.441063
1    1.000000
Name: 118, dtype: float64
0    0.246406
1    1.000000
Name: 119, dtype: float64
0    0.653933
1    1.000000
Name: 120, dtype: float64
0    0.467062
1    1.000000
Name: 121, dtype: float64
0    0.04086
1    1.00000
Name: 122, dtype: float64
0    0.93049
1    1.00000
Name: 123, dtype: float64
0    0.000003
1    0.004307
Name: 124, dtype: float64
0    0.135699
1    1.000000
Name: 125, dtype: float64
0    0.422281
1    1.000000
Name: 126, dtype: float64
0    0.330663
1    1.000000
Name: 127, dtype: float64
0    0.455793
1    1.000000
Name: 128, dtype: float64
0    0.130769
1    1.000000
Name: 129, dtype: float64
0    0.000011
1    0.016244
Name: 130, dtype: float64
0    0.052091
1    1.000000
Name: 131, dtype: float64
0    0.000363
1    0.554998
Name: 132, dtype: float64
0    0.001781
1    1.000000
Name: 133, dtype: float64
0    0.437302
1    1.000000
Name: 134, dtype: float64
0    0.160789
1    1.000000
Name: 135, dtype: float64
0    0.000472
1    0.719038
Name: 136, dtype: float64
0    0.422601
1    1.000000
Name: 137, dtype: float64
0    0.884702
1    1.000000
Name: 138, dtype: float64
0    0.155896
1    1.000000
Name: 139, dtype: float64
0    0.722283
1    1.000000
Name: 140, dtype: float64
0    0.1404
1    1.0000
Name: 141, dtype: float64
0    0.000113
1    0.173707
Name: 142, dtype: float64
0    0.084865
1    1.000000
Name: 143, dtype: float64
0    0.035356
1    1.000000
Name: 144, dtype: float64
0    0.135337
1    1.000000
Name: 145, dtype: float64
0    0.730167
1    1.000000
Name: 146, dtype: float64
0    0.375487
1    1.000000
Name: 147, dtype: float64
0    0.382378
1    1.000000
Name: 148, dtype: float64
0    0.653734
1    1.000000
Name: 149, dtype: float64
0    0.375636
1    1.000000
Name: 150, dtype: float64
0    0.737246
1    1.000000
Name: 151, dtype: float64
0    0.751679
1    1.000000
Name: 152, dtype: float64
0    0.019574
1    1.000000
Name: 153, dtype: float64
0    0.000348
1    0.531837
Name: 154, dtype: float64
0    0.759666
1    1.000000
Name: 155, dtype: float64
0    0.07819
1    1.00000
Name: 156, dtype: float64
0    0.529271
1    1.000000
Name: 157, dtype: float64
0    0.53526
1    1.00000
Name: 158, dtype: float64
0    0.612019
1    1.000000
Name: 159, dtype: float64
0    0.04669
1    1.00000
Name: 160, dtype: float64
0    0.219772
1    1.000000
Name: 161, dtype: float64
0    0.352124
1    1.000000
Name: 162, dtype: float64
0    0.861616
1    1.000000
Name: 163, dtype: float64
0    0.405691
1    1.000000
Name: 164, dtype: float64
0    0.78739
1    1.00000
Name: 165, dtype: float64
0    0.001371
1    1.000000
Name: 166, dtype: float64
0    0.054782
1    1.000000
Name: 167, dtype: float64
0    0.906451
1    1.000000
Name: 168, dtype: float64
0    0.000472
1    0.719913
Name: 169, dtype: float64
0    0.51749
1    1.00000
Name: 170, dtype: float64
0    0.508756
1    1.000000
Name: 171, dtype: float64
0    0.252773
1    1.000000
Name: 172, dtype: float64
0    0.221752
1    1.000000
Name: 173, dtype: float64
0    0.536513
1    1.000000
Name: 174, dtype: float64
0    0.498758
1    1.000000
Name: 175, dtype: float64
0    0.693403
1    1.000000
Name: 176, dtype: float64
0    0.834328
1    1.000000
Name: 177, dtype: float64
0    0.459644
1    1.000000
Name: 178, dtype: float64
0    2.530549e-12
1    4.021042e-09
Name: 179, dtype: float64
0    0.000084
1    0.130024
Name: 180, dtype: float64
0    1.412128e-16
1    2.257993e-13
Name: 181, dtype: float64
0    1.612386e-18
1    2.583043e-15
Name: 182, dtype: float64
0    1.267224e-15
1    2.025023e-12
Name: 183, dtype: float64
0    0.545135
1    1.000000
Name: 184, dtype: float64
0    0.140996
1    1.000000
Name: 185, dtype: float64
0    0.433234
1    1.000000
Name: 186, dtype: float64
0    0.187564
1    1.000000
Name: 187, dtype: float64
0    0.409998
1    1.000000
Name: 188, dtype: float64
0    0.263598
1    1.000000
Name: 189, dtype: float64
0    0.550106
1    1.000000
Name: 190, dtype: float64
0    0.969012
1    1.000000
Name: 191, dtype: float64
0    0.486758
1    1.000000
Name: 192, dtype: float64
0    0.225751
1    1.000000
Name: 193, dtype: float64
0    0.22745
1    1.00000
Name: 194, dtype: float64
0    0.783139
1    1.000000
Name: 195, dtype: float64
0    0.225116
1    1.000000
Name: 196, dtype: float64
0    0.169975
1    1.000000
Name: 197, dtype: float64
0    0.103168
1    1.000000
Name: 198, dtype: float64
0    0.849032
1    1.000000
Name: 199, dtype: float64
0    0.090772
1    1.000000
Name: 200, dtype: float64
0    0.681289
1    1.000000
Name: 201, dtype: float64
0    0.983346
1    1.000000
Name: 202, dtype: float64
0    0.405848
1    1.000000
Name: 203, dtype: float64
0    0.949407
1    1.000000
Name: 204, dtype: float64
0    0.442212
1    1.000000
Name: 205, dtype: float64
0    0.102178
1    1.000000
Name: 206, dtype: float64
0    0.040942
1    1.000000
Name: 207, dtype: float64
0    0.938185
1    1.000000
Name: 208, dtype: float64
0    0.137594
1    1.000000
Name: 209, dtype: float64
0    0.247874
1    1.000000
Name: 210, dtype: float64
0    0.141145
1    1.000000
Name: 211, dtype: float64
0    0.448146
1    1.000000
Name: 212, dtype: float64
0    7.611134e-11
1    1.204081e-07
Name: 213, dtype: float64
0    0.004514
1    1.000000
Name: 214, dtype: float64
0    0.000003
1    0.004155
Name: 215, dtype: float64
0    0.029535
1    1.000000
Name: 216, dtype: float64
0    0.358745
1    1.000000
Name: 217, dtype: float64
0    0.960199
1    1.000000
Name: 218, dtype: float64
0    0.000004
1    0.006610
Name: 219, dtype: float64
0    0.025064
1    1.000000
Name: 220, dtype: float64
0    0.53526
1    1.00000
Name: 221, dtype: float64
0    0.398702
1    1.000000
Name: 222, dtype: float64
0    0.779742
1    1.000000
Name: 223, dtype: float64
0    0.376083
1    1.000000
Name: 224, dtype: float64
0    2.297236e-08
1    3.611255e-05
Name: 225, dtype: float64
0    0.028961
1    1.000000
Name: 226, dtype: float64
0    0.162114
1    1.000000
Name: 227, dtype: float64
0    0.93071
1    1.00000
Name: 228, dtype: float64
0    0.657328
1    1.000000
Name: 229, dtype: float64
0    0.822692
1    1.000000
Name: 230, dtype: float64
0    0.000003
1    0.004951
Name: 231, dtype: float64
0    0.021176
1    1.000000
Name: 232, dtype: float64
0    0.483646
1    1.000000
Name: 233, dtype: float64
0    0.946986
1    1.000000
Name: 234, dtype: float64
0    0.634896
1    1.000000
Name: 235, dtype: float64
0    0.897596
1    1.000000
Name: 236, dtype: float64
0    0.009178
1    1.000000
Name: 237, dtype: float64
0    0.080366
1    1.000000
Name: 238, dtype: float64
0    0.004713
1    1.000000
Name: 239, dtype: float64
0    0.21946
1    1.00000
Name: 240, dtype: float64
0    0.483646
1    1.000000
Name: 241, dtype: float64
0    0.977833
1    1.000000
Name: 242, dtype: float64
0    0.069876
1    1.000000
Name: 243, dtype: float64
0    0.717939
1    1.000000
Name: 244, dtype: float64
0    0.671181
1    1.000000
Name: 245, dtype: float64
0    0.004891
1    1.000000
Name: 246, dtype: float64
0    0.676632
1    1.000000
Name: 247, dtype: float64
0    0.568709
1    1.000000
Name: 248, dtype: float64
0    0.41544
1    1.00000
Name: 249, dtype: float64
0    0.993934
1    1.000000
Name: 250, dtype: float64
0    0.028377
1    1.000000
Name: 251, dtype: float64
0    0.403665
1    1.000000
Name: 252, dtype: float64
0    0.108598
1    1.000000
Name: 253, dtype: float64
0    0.664541
1    1.000000
Name: 254, dtype: float64
0    0.845568
1    1.000000
Name: 255, dtype: float64
0    0.928293
1    1.000000
Name: 256, dtype: float64
0    0.445173
1    1.000000
Name: 257, dtype: float64
0    0.840592
1    1.000000
Name: 258, dtype: float64
0    0.298743
1    1.000000
Name: 259, dtype: float64
0    0.649252
1    1.000000
Name: 260, dtype: float64
0    0.732663
1    1.000000
Name: 261, dtype: float64
0    0.204976
1    1.000000
Name: 262, dtype: float64
0    0.23217
1    1.00000
Name: 263, dtype: float64
0    0.955353
1    1.000000
Name: 264, dtype: float64
0    0.703318
1    1.000000
Name: 265, dtype: float64
0    0.400249
1    1.000000
Name: 266, dtype: float64
0    0.649089
1    1.000000
Name: 267, dtype: float64
0    7.548385e-08
1    1.184342e-04
Name: 268, dtype: float64
0    0.009394
1    1.000000
Name: 269, dtype: float64
0    2.139400e-10
1    3.380252e-07
Name: 270, dtype: float64
0    1.628089e-10
1    2.574009e-07
Name: 271, dtype: float64
0    5.439321e-09
1    8.566930e-06
Name: 272, dtype: float64
0    0.545404
1    1.000000
Name: 273, dtype: float64
0    0.460854
1    1.000000
Name: 274, dtype: float64
0    0.257333
1    1.000000
Name: 275, dtype: float64
0    0.723789
1    1.000000
Name: 276, dtype: float64
0    0.838935
1    1.000000
Name: 277, dtype: float64
0    0.064205
1    1.000000
Name: 278, dtype: float64
0    0.355833
1    1.000000
Name: 279, dtype: float64
0    0.574974
1    1.000000
Name: 280, dtype: float64
0    0.14357
1    1.00000
Name: 281, dtype: float64
0    0.034059
1    1.000000
Name: 282, dtype: float64
0    0.014642
1    1.000000
Name: 283, dtype: float64
0    0.803982
1    1.000000
Name: 284, dtype: float64
0    0.6153
1    1.0000
Name: 285, dtype: float64
0    0.258622
1    1.000000
Name: 286, dtype: float64
0    0.231679
1    1.000000
Name: 287, dtype: float64
0    0.795302
1    1.000000
Name: 288, dtype: float64
0    0.656085
1    1.000000
Name: 289, dtype: float64
0    0.347908
1    1.000000
Name: 290, dtype: float64
0    0.468965
1    1.000000
Name: 291, dtype: float64
0    0.895175
1    1.000000
Name: 292, dtype: float64
0    0.750749
1    1.000000
Name: 293, dtype: float64
0    0.173353
1    1.000000
Name: 294, dtype: float64
0    0.781153
1    1.000000
Name: 295, dtype: float64
0    0.448529
1    1.000000
Name: 296, dtype: float64
0    0.242207
1    1.000000
Name: 297, dtype: float64
0    0.000764
1    1.000000
Name: 298, dtype: float64
0    0.002059
1    1.000000
Name: 299, dtype: float64
0    0.339579
1    1.000000
Name: 300, dtype: float64
0    0.610997
1    1.000000
Name: 301, dtype: float64
0    0.000045
1    0.069099
Name: 302, dtype: float64
0    0.452207
1    1.000000
Name: 303, dtype: float64
0    0.000939
1    1.000000
Name: 304, dtype: float64
0    0.508062
1    1.000000
Name: 305, dtype: float64
0    0.591801
1    1.000000
Name: 306, dtype: float64
0    0.909734
1    1.000000
Name: 307, dtype: float64
0    0.001555
1    1.000000
Name: 308, dtype: float64
0    0.031554
1    1.000000
Name: 309, dtype: float64
0    0.827775
1    1.000000
Name: 310, dtype: float64
0    0.855734
1    1.000000
Name: 311, dtype: float64
0    0.105689
1    1.000000
Name: 312, dtype: float64
0    0.006838
1    1.000000
Name: 313, dtype: float64
0    0.000169
1    0.259700
Name: 314, dtype: float64
0    0.018507
1    1.000000
Name: 315, dtype: float64
0    0.904068
1    1.000000
Name: 316, dtype: float64
0    0.088061
1    1.000000
Name: 317, dtype: float64
0    0.394305
1    1.000000
Name: 318, dtype: float64
0    0.036274
1    1.000000
Name: 319, dtype: float64
0    0.000253
1    0.386699
Name: 320, dtype: float64
0    0.002274
1    1.000000
Name: 321, dtype: float64
0    0.525231
1    1.000000
Name: 322, dtype: float64
0    0.333928
1    1.000000
Name: 323, dtype: float64
0    0.354239
1    1.000000
Name: 324, dtype: float64
0    0.031312
1    1.000000
Name: 325, dtype: float64
0    0.075031
1    1.000000
Name: 326, dtype: float64
0    0.289984
1    1.000000
Name: 327, dtype: float64
0    0.101999
1    1.000000
Name: 328, dtype: float64
0    0.919457
1    1.000000
Name: 329, dtype: float64
0    0.777235
1    1.000000
Name: 330, dtype: float64
0    0.729155
1    1.000000
Name: 331, dtype: float64
0    0.447918
1    1.000000
Name: 332, dtype: float64
0    0.658301
1    1.000000
Name: 333, dtype: float64
0    0.532583
1    1.000000
Name: 334, dtype: float64
0    0.095331
1    1.000000
Name: 335, dtype: float64
0    0.389785
1    1.000000
Name: 336, dtype: float64
0    0.531913
1    1.000000
Name: 337, dtype: float64
0    0.964154
1    1.000000
Name: 338, dtype: float64
0    0.016021
1    1.000000
Name: 339, dtype: float64
0    0.052179
1    1.000000
Name: 340, dtype: float64
0    0.476522
1    1.000000
Name: 341, dtype: float64
0    0.374764
1    1.000000
Name: 342, dtype: float64
0    0.286737
1    1.000000
Name: 343, dtype: float64
0    0.285814
1    1.000000
Name: 344, dtype: float64
0    0.51727
1    1.00000
Name: 345, dtype: float64
0    0.729155
1    1.000000
Name: 346, dtype: float64
0    0.141346
1    1.000000
Name: 347, dtype: float64
0    0.813479
1    1.000000
Name: 348, dtype: float64
0    0.042356
1    1.000000
Name: 349, dtype: float64
0    0.585815
1    1.000000
Name: 350, dtype: float64
0    0.636647
1    1.000000
Name: 351, dtype: float64
0    0.938126
1    1.000000
Name: 352, dtype: float64
0    0.673147
1    1.000000
Name: 353, dtype: float64
0    0.635554
1    1.000000
Name: 354, dtype: float64
0    0.397715
1    1.000000
Name: 355, dtype: float64
0    0.00634
1    1.00000
Name: 356, dtype: float64
0    4.844416e-07
1    7.552444e-04
Name: 357, dtype: float64
0    0.819032
1    1.000000
Name: 358, dtype: float64
0    9.164158e-07
1    1.426859e-03
Name: 359, dtype: float64
0    3.204217e-07
1    5.001783e-04
Name: 360, dtype: float64
0    1.302252e-07
1    2.035419e-04
Name: 361, dtype: float64
0    0.233678
1    1.000000
Name: 362, dtype: float64
0    0.778018
1    1.000000
Name: 363, dtype: float64
0    0.793647
1    1.000000
Name: 364, dtype: float64
0    0.477155
1    1.000000
Name: 365, dtype: float64
0    0.342012
1    1.000000
Name: 366, dtype: float64
0    0.042408
1    1.000000
Name: 367, dtype: float64
0    0.089401
1    1.000000
Name: 368, dtype: float64
0    0.614582

In [14]:
# Adding a column with the corrected p_values to each dataset
#dfs = [sigf1, sigf3, sigf5, sigf1_en, sigf3_en, sigf5_en, sigf1_fr, sigf3_fr, sigf5_fr, sigm1, sigm3, sigm5, sigm1_en, sigm3_en, sigm5_en, sigm1_fr, sigm3_fr, sigm5_fr]

# Female Participants

sigf1['corrected_p_values'] = corrected_p_values[:89]
sigf3['corrected_p_values'] = corrected_p_values[89:178]
sigf5['corrected_p_values'] = corrected_p_values[178:267]
sigf1_en['corrected_p_values'] = corrected_p_values[267:356]
sigf3_en['corrected_p_values'] = corrected_p_values[356:445]
sigf5_en['corrected_p_values'] = corrected_p_values[445:534] 
sigf1_fr['corrected_p_values'] = corrected_p_values[534:623]
sigf3_fr['corrected_p_values'] = corrected_p_values[623:712]
sigf5_fr['corrected_p_values'] = corrected_p_values[712:801]

# Male Participants

sigm1['corrected_p_values'] = corrected_p_values[801:890]
sigm3['corrected_p_values'] = corrected_p_values[890:979]
sigm5['corrected_p_values'] = corrected_p_values[979:1068]
sigm1_en['corrected_p_values'] = corrected_p_values[1068:1157]
sigm3_en['corrected_p_values'] = corrected_p_values[1157:1246]
sigm5_en['corrected_p_values'] = corrected_p_values[1246:1335]
sigm1_fr['corrected_p_values'] = corrected_p_values[1335:1424]
sigm3_fr['corrected_p_values'] = corrected_p_values[1424:1513]
sigm5_fr['corrected_p_values'] = corrected_p_values[1513:]

In [15]:
# Example of significant feature differences, for female participants for reading audio recordings
work_df = sigf1
significant_features = []
cg_avgs = []
sg_avgs = []
differences = []
for _, row in work_df.iterrows():
    if row['corrected_p_values'] < 0.05:
        sig_feature = row['features']
        significant_features.append(sig_feature)
        #differences.append(work_df['cg_mean_std'] - work_df['sg_mean_std'])
        print(row['features'] + ": p_values: " + str(row['corrected_p_values']) + ", CG Average (SD): " + row['cg_mean_std'] + ", SG Average (SD): " + row['sg_mean_std'])

F0semitoneFrom27.5Hz_sma3nz_amean: p_values: 4.925962228533842e-09, CG Average (SD): 34.317(2.306), SG Average (SD): 33.026(2.603)
F0semitoneFrom27.5Hz_sma3nz_stddevNorm: p_values: 0.008053248606441177, CG Average (SD): 0.162(0.054), SG Average (SD): 0.183(0.065)
F0semitoneFrom27.5Hz_sma3nz_percentile20.0: p_values: 1.1801630366659284e-13, CG Average (SD): 31.617(2.387), SG Average (SD): 30.012(2.893)
F0semitoneFrom27.5Hz_sma3nz_percentile50.0: p_values: 1.1190461419224116e-13, CG Average (SD): 33.267(2.217), SG Average (SD): 31.794(2.602)
F0semitoneFrom27.5Hz_sma3nz_percentile80.0: p_values: 7.28246368520447e-11, CG Average (SD): 35.598(2.829), SG Average (SD): 34.167(3.104)
HNRdBACF_sma3nz_amean: p_values: 1.887190872304061e-08, CG Average (SD): 7.593(1.269), SG Average (SD): 6.969(1.392)
logRelF0-H1-H2_sma3nz_amean: p_values: 0.04315564354193115, CG Average (SD): 7.768(4.272), SG Average (SD): 6.461(4.62)
F1frequency_sma3nz_amean: p_values: 0.00012322003002078515, CG Average (SD): 682.044(56.54), SG Average (SD): 661.235(52.976)
F2frequency_sma3nz_amean: p_values: 0.00012446976676373087, CG Average (SD): 1760.778(58.463), SG Average (SD): 1739.539(57.232)
F3frequency_sma3nz_amean: p_values: 0.00025704330913939213, CG Average (SD): 2840.625(67.945), SG Average (SD): 2814.379(69.192)